<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ackerman.j.gavin.ispy">

    <application
        android:name=".Config.Util.App"
        android:allowBackup="true"
        android:icon="@drawable/ispylogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <provider android:authorities="com.facebook.app.FacebookContentProvider766325873534705"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
           <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity android:name="com.facebook.FacebookActivity"

            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"


            android:label="@string/app_name" />
        <activity
            android:name=".BaseActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity" >
        </activity>
        <activity
            android:name=".LoginActivity">
        </activity>
        <activity
            android:name=".NewsfeedActivity">
        </activity>
        <activity
            android:name=".MenuActivity">
        </activity>
        <activity
            android:name=".StoryActivity">
        </activity>
        <activity
            android:name=".ViewStory">
        </activity>
        <activity
            android:name=".ProfileActivity">
        </activity>
        <activity
            android:name=".UserStoriesList">
        </activity>
        <activity
            android:name=".UserInfoActivity">
        </activity>
        <activity
            android:name=".SettingsActivity">
        </activity>
        <activity
            android:name=".ViewProfile">
        </activity>
        <activity
            android:name=".ProfileStoriesActivity">
        </activity>
        <activity
            android:name=".ProfileList">
        </activity>
        <activity
            android:name=".ProfileInfoActivity">
        </activity>
        <activity
            android:name=".SubscriberActivity">
        </activity>

        <service
            android:name=".Services.Impl.UserServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.Impl.ImageServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.Impl.StoryServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.Impl.TagServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.Impl.FameServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.Impl.UserTagsServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.Impl.UserImageServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.Impl.UserFameServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.Impl.SubscriberServiceImpl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Services.Impl.ProfileInfoServiceImpl"
            android:enabled="true"
            android:exported="true" />
</application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />




</manifest>